@media only screen and (max-width:575px) {
  .xs-center {
    text-align: center;
  }
  .xs-none {
    display: none;
  }
  .smt-15 {
    margin-top: 15px!important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container-fluid{
    max-width: 540px;
    padding:0 15px;
  }
}

@media only screen and (max-width: 767px) {
  .pt-10 {
    padding-top: 5px;
  }
  .pt-20 {
    padding-top: 10px;
  }
  .pt-30 {
    padding-top: 15px;
  }
  .pt-40 {
    padding-top: 20px;
  }
  .pt-50 {
    padding-top: 20px;
  }
  .pt-60 {
    padding-top: 20px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pt-80 {
    padding-top: 20px;
  }
  .pt-90 {
    padding-top: 20px;
  }
  .pt-100 {
    padding-top: 25px;
  }
  .pt-200 {
    padding-top: 50px;
  }
  .pb-10 {
    padding-bottom: 5px;
  }
  .pb-20 {
    padding-bottom: 10px;
  }
  .pb-30 {
    padding-bottom: 15px;
  }
  .pb-40 {
    padding-bottom: 20px;
  }
  .pb-50 {
    padding-bottom: 20px;
  }
  .pb-60 {
    padding-bottom: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pb-80 {
    padding-bottom: 20px;
  }
  .pb-90 {
    padding-bottom: 20px;
  }
  .pb-100 {
    padding-bottom: 25px;
  }
  .pb-200 {
    padding-bottom: 50px;
  }
  .ptb-10 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ptb-20 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptb-30 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .ptb-40 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-50 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-60 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-70 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-80 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-90 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-100 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .ptb-200 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .mt-40 {
    margin-top: 20px;
  }
  .mb-40 {
    margin-bottom: 20px;
  }
  .mtb-40 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p, input, textarea {
    font-size: 15px;
  }
  .btn {
    font-size: 14px;
  }
  .sm-none {
    display: none !important;
  }
  .sm-center {
    text-align: center !important;
  }
  .link,.btn {
    font-size: 14px;
  }
  .btn {
    padding:12px 25px 12px;
  }
  .btn.icon {
    padding: 12px 25px 12px 55px;
  }
  .btn.icon i {
    left: 25px;
    bottom: 4px;
  }
  .back-to-top {
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    right: 10px;
  }
  .back-to-top i {
    font-size: 18px;
  }
  .btn-area {
    margin: 20px 0 0 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .pt-10 {
    padding-top: 5px;
  }
  .pt-20 {
    padding-top: 10px;
  }
  .pt-30 {
    padding-top: 15px;
  }
  .pt-40 {
    padding-top: 20px;
  }
  .pt-50 {
    padding-top: 25px;
  }
  .pt-60 {
    padding-top: 30px;
  }
  .pt-70 {
    padding-top: 35px;
  }
  .pt-80 {
    padding-top: 40px;
  }
  .pt-90 {
    padding-top: 45px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pt-200 {
    padding-top: 100px;
  }
  .pb-10 {
    padding-bottom: 5px;
  }
  .pb-20 {
    padding-bottom: 10px;
  }
  .pb-30 {
    padding-bottom: 15px;
  }
  .pb-40 {
    padding-bottom: 20px;
  }
  .pb-50 {
    padding-bottom: 25px;
  }
  .pb-60 {
    padding-bottom: 30px;
  }
  .pb-70 {
    padding-bottom: 35px;
  }
  .pb-80 {
    padding-bottom: 40px;
  }
  .pb-90 {
    padding-bottom: 45px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pb-200 {
    padding-bottom: 100px;
  }
  .ptb-10 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ptb-20 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptb-30 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .ptb-40 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-50 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .ptb-60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .ptb-70 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .ptb-80 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .ptb-90 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ptb-200 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .mt-40 {
    margin-top: 30px;
  }
  .mb-40 {
    margin-bottom: 30px;
  }
  .mtb-40 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .btn.icon {
    padding: 14px 25px 14px 55px;
  }
  .btn.icon i {
    left: 25px;
    bottom: 4px;
  }
  .btn-area {
    margin: 30px 0 0 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pt-10 {
    padding-top: 10px;
  }
  .pt-20 {
    padding-top: 15px;
  }
  .pt-30 {
    padding-top: 20px;
  }
  .pt-40 {
    padding-top: 25px;
  }
  .pt-50 {
    padding-top: 30px;
  }
  .pt-60 {
    padding-top: 40px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pt-80 {
    padding-top: 60px;
  }
  .pt-90 {
    padding-top: 65px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pt-200 {
    padding-top: 150px;
  }
  .pb-10 {
    padding-bottom: 10px;
  }
  .pb-20 {
    padding-bottom: 15px;
  }
  .pb-30 {
    padding-bottom: 20px;
  }
  .pb-40 {
    padding-bottom: 25px;
  }
  .pb-50 {
    padding-bottom: 30px;
  }
  .pb-60 {
    padding-bottom: 40px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .pb-80 {
    padding-bottom: 60px;
  }
  .pb-90 {
    padding-bottom: 65px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .pb-200 {
    padding-bottom: 150px;
  }
  .ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptb-20 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .ptb-30 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ptb-40 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .ptb-50 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .ptb-60 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .ptb-70 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ptb-80 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .ptb-90 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .ptb-200 {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .btn {
    padding: 12px 30px 12px;
  }
  .btn-area {
    margin: 40px 0 0 0;
  }
}

@media only screen and (max-width: 991px) {
  .page-wrapper {
    overflow-x: hidden!important;
  }
  .md-none {
    display: none !important;
  }
  .mt-60 {
    margin-top: 30px !important;
  }
  .md-center {
    text-align: center !important;
  }
}

@media only screen and (max-width: 1199px) {
  .lg-none {
    display: none!important;
  }
}

@media only screen and (min-width:1200px) {
  .xl-none {
    display: none !important;
  }
  .btn-area {
    margin: 40px 0 0 0;
  }
}
